# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_NAME=trackflow
DB_USER=root
DB_PASSWORD=

# Flask
FLASK_ENV=development
FLASK_PORT=5000
SECRET_KEY=cambia-esto-por-algo-seguro
JWT_SECRET_KEY=otro-secreto-jwt

# CORS — URL del frontend React
FRONTEND_URL=http://localhost:3000

# Tracking
TRACKING_PREFIX=ENV25
